body{
	margin:0;
	background: #eee;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 100;

}

#container{
	width: 960;
	height: 540px;
	position: absolute;
	margin: auto;
	top:0; left:0; right:0; bottom:0;
}

iframe#model{
	border: none;
	width:400px;
	display: block;
	float: left;
}

#info{
	width: 530px;
	float: right;
	line-height: 1.3em;
}
#info b{
	font-weight: bold;
}
#info a{
	color: #cc2727;
}
#info a:hover{
	color: #dd3838;
}
#info > div{
	display: none;
}
.title{
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 20px;
	line-height: 40px;
}
.next{
	margin-top: 20px;
	color:#fff;
	background: #cc2727;
	padding: 7px 10px;
	width: 100px;
	font-size: 25px;
	height: 26px;
	position: relative;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
}
.next:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 39, 39, 0);
	border-left-color: #cc2727;
	border-width: 20px;
	margin-top: -20px;
}
.next:hover{
	background: #dd3838;
}
.next:hover:after {
	border-left-color: #dd3838;
}